In [1]:
# Q1
for i in range(4):
    for j in range(0,i+1):
        print("iNeuron",end=" ")
    print("\n")

iNeuron

iNeuron iNeuron

iNeuron iNeuron iNeuron

iNeuron iNeuron iNeuron iNeuron

In [1]:
n = 5
for i in range(n):
    print("iNeuron "*(i+1))

iNeuron
iNeuron iNeuron
iNeuron iNeuron iNeuron
iNeuron iNeuron iNeuron iNeuron
iNeuron iNeuron iNeuron iNeuron iNeuron

In [2]:
# Q2
n = 3
for i in range(n-1):
    for j in range(i,n):
        print("   ",end="  ")
    for j in range(i):
        print('iNeuron',end="  ")
    for j in range(i+1):
        print('iNeuron',end="  ")
    print()
for i in range(n):
    for j in range(i+1):
        print("   ",end="  ")
    for j in range(i,n-1):
        print('iNeuron',end="  ")
    for j in range(i,n):
        print('iNeuron',end="  ")
    print()

               iNeuron
          iNeuron  iNeuron  iNeuron
     iNeuron  iNeuron  iNeuron  iNeuron  iNeuron
          iNeuron  iNeuron  iNeuron
               iNeuron

In [30]:
import math

n2=5
str="ineuron"
middle=math.floor(n2/2) if n2%2==0 else math.ceil(n2/2)
# first half
for l in range(1,n2+1):
    if l<=middle:
        k=middle-l
        for i in range(k):
            print(" "*len(str),end=" ")
        print((str+" "+" "*len(str)+" ")*l)
    else: # last half in reverse order
        r_spc=l-middle
        r= n2-l+1 #(5+1-4,5+1-5)
        for r2 in range(r):
            print(" "*len(str)*r_spc,str,end= " ")
        print("\n")

                ineuron
        ineuron         ineuron
ineuron         ineuron         ineuron
        ineuron         ineuron

               ineuron

In [2]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("iNeuron "*n).center(50,' '))

                     iNeuron
                 iNeuron iNeuron
             iNeuron iNeuron iNeuron
                 iNeuron iNeuron
                     iNeuron

In [2]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"Rushi",'k2':"iNeuron",'k3':"Kumar",3:6,7:8},["iNeuron","Data Science"]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Rushi', 'k2': 'iNeuron', 'k3': 'Kumar', 3: 6, 7: 8},
 ['iNeuron', 'Data Science']]

In [3]:
# Q3 Try to extract all the list entity
l1 = []
for i in l:
    if type(i) == list:
        l1.append(i)
l1

[[1, 2, 3, 4], ['iNeuron', 'Data Science']]

In [12]:
# Q4 Try to extract all the dict enteties
l2 = []
for i in l:
    if type(i) == dict:
        l2.append(i.items()) 
l2

[dict_items([('k1', 'Rushi'), ('k2', 'iNeuron'), ('k3', 'Kumar'), (3, 6), (7, 8)])]

In [5]:
# Q5 Try to extract all the tuples entities
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [6]:
# Q6 Try to extract all the numerical data it may be a part of dict key and values
l3 = []
for i in l:
    for j in i:
        if type(j) == int:
            l3.append(j)
    if type(i) == dict:
        for j in i.items():
            for k in j:
                if type(k) == int:
                    l3.append(k)
l3

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 3, 6, 7, 8]

In [7]:
# Q7 Try to give summation of all the numeric data
sum(l3)

166

In [10]:
# Q8 Try to filter out all odd values out all numeric data which is a part of a list
for j in l3:
    if j % 2 == 1:
        print(j)

1
3
3
5
3
5
7
45
5
23
3
7
3
7

In [19]:
# Q9 Try to extract "iNeuron" out of this data

In [20]:
l4 = []
for i in l:
    for j in i:
        if j == "iNeuron":
            l4.append(j)
    if type(i) == dict:
        for j in i.items():
            for k in j:
                if k == "iNeuron":
                    l4.append(k)
l4

['iNeuron', 'iNeuron']

In [25]:
# Q10 Try to find out a number of ocuurances of all the data
for i in l:
    print(i)

[1, 2, 3, 4]
(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'Rushi', 'k2': 'iNeuron', 'k3': 'Kumar', 3: 6, 7: 8}
['iNeuron', 'Data Science']

In [28]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"Rushi",'k2':"iNeuron",'k3':"Kumar",3:6,7:8},["iNeuron","Data Science"]]

l4 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int or type(j) == str:
                l4.append(j)
    if type(i) == dict:
        for j in i.items():
            for k in j:
                if type(k) == int or type(k) == str:
                    l4.append(k)

for i in set(l4):
        print(i ,":",l4.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
8 : 1
Data Science : 1
Rushi : 1
45 : 1
k3 : 1
k1 : 1
23 : 1
iNeuron : 2
Kumar : 1

In [23]:
# Q11 Try to find out number of keys in dict element
for i in l:
    if type(i) == dict:
        print(len(list(i.keys())))

5

In [29]:
# Q12 Try to filter out all the string data 
l5 = []
for i in l4:
    if type(i) == str:
        l5.append(i)
l5

['k1', 'Rushi', 'k2', 'iNeuron', 'k3', 'Kumar', 'iNeuron', 'Data Science']

In [31]:
# Q13 Try to findout alphanum in data
for j in l4:
    if type(j) == str:
        if j.isalnum():
            print(j)

k1
Rushi
k2
iNeuron
k3
Kumar
iNeuron

In [40]:
# Q14 Try to find out multiplication of all numeric value in the individual collection inside dataset
for i in l:
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                m = m*j
        print(type(i) ,m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int and type(v) == int:
                m *= k
                m *= v
        print(type(i) ,m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [38]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

for i in l:
    m = 1
    if type(i) == tuple or type(i) == list or type(i) == set :
        for j in i:
            if type(j) == int:
                m *= j
        print('Multipilcation of',type(i),'is',m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int and type(v) == int:
                m = m * k
                m = m * v
        print('Multipilcation of',type(i),'is',m)

Multipilcation of <class 'list'> is 24
Multipilcation of <class 'tuple'> is 720
Multipilcation of <class 'tuple'> is 2520
Multipilcation of <class 'set'> is 20700
Multipilcation of <class 'dict'> is 1008
Multipilcation of <class 'list'> is 1

In [29]:
# Q15 Try to unwrap all the collection inside collection and create a flat list
l6 = []
for i in l:
    for j in i:
        l6.append(j)
        
l6

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'iNeuron',
 'Data Science']